@model EditRegisteredUserVM

@{
    ViewData["Title"] = "EditRegisteredUser";
    Layout = "_AdminLayout";
}

<link href="~/css/templateModification.css" rel="stylesheet" />


<div class="container-fluid">
    <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <div class="card ">
                <div class="card-header d-flex">
                    <h3 class="card-title">Edit Register User:</h3>
                </div>
                <form method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" placeholder="Enter Firstname" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" placeholder="Enter Lastname" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" placeholder="Enter email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleSelectRounded0">Account type</label>
                            <select asp-for="AccountType" class="custom-select rounded-0"
                                    asp-items="Html.GetEnumSelectList<Enum_AccountType>()">
                                <option value="">--- Select ---</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-footer" id="double-buttons">
                        <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                        <a asp-controller="Account" asp-action="Register" class="btn btn-Cancel">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
