@{
    ViewBag.Title = "Login";
 }


<section id="login-section">
    <div class="container">
        <div class="row login-div">
            <div class="col-md-4 col-lg-4 col-md-12 col-lg-12">
                <div class="">
                    <img src="~/Images/DataLab-Logo2.png" class="logo-img img-thumbnail">
                </div>

                <p>Authorized Users Only</p>
                <form method="post">
                    <div class="form-content">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <button class="btn btn-group-lg btn-lg">
                        Log in
                    </button> 
                </form>
            </div>
        </div>
    </div>
</section>