/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #020412;
}

/*-------------Navbar css------------*/
.navbar {
    background-color: #020412 !important;
    border-bottom: none !important;
}

.nav-item a {
    color: white !important;
    font-size: 15px;
    font-weight: 500
}

.fa-home {
    font-size: 20px;
    color: #8c52ff;
}

.nav-item .span-home {
    color: white !important;
}

.navbar-brand span {
    color: white !important;
    font-size: 15px;
    margin-left: 5px;
    font-weight: 500;
}

/*----------footer css------------*/
.footer {
    background-color: #020412 !important;
    border-bottom: none !important;
}

.footer {
    border-top: none !important;
    font-size: 12px;
    color: white !important;
}

.footer span {
    color: #8c52ff !important;
}

/*----------main RenderBody---------*/
.render-body {
  border-bottom: 2px solid #020412 !important;
}

/*-------Index page css / media queries--------*/

#banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
}
.img-div {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#banner img {
    width: 100%;
    height: auto;
}
#banner p {
    font-size: 13px;
    margin-top: 10px;
    color: white !important;
    margin: 15px;
}
#banner .btn {
    background-color: #8c52ff;
    width: 210px;
    color: white;
    font-size: 17px;
    font-weight: 600;
}
#banner .btn:hover {
    background-color: transparent;
    border: 1px solid white;
    color: #8c52ff;
}
.fa-sign-in-alt {
    background-color: transparent !important;
    color: white;
    font-size: 14px
}

@media only screen and (min-device-width : 100px) and (max-device-width : 320px) {
    #banner img {
        margin-top: 30%;
        width: 200px;
    }

    #banner .btn {
        width: 200px;
        font-size: 13px
    }

    #banner p {
        font-size: 13px;
    }
}

@media only screen and (min-device-width : 321px) and (max-device-width : 480px) {
    #banner img {
        margin-top: 40%;
        width: 230px;
    }

    #banner .btn {
        width: 200px;
        font-size: 13px
    }

    #banner p {
        font-size: 13px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    #banner img {
        margin-top: 10%;
        width: 230px;
    }

    .text-div {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width : 1224px) {
    #banner img {
        margin-top: 50% !important
    }

    .text-div {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-device-width: 360px) and (max-device-height: 760px) and (orientation : portrait) {
    #banner img {
        margin-top: 55% !important
    }
}


@media (min-device-width: 360px) and (max-device-height: 800px) and (orientation : portrait) {
    #banner img {
        margin-top: 55% !important
    }
}

@media (min-device-width: 375px) and (max-device-height: 842px) and (orientation : portrait) {
    #banner img {
        margin-top: 55% !important
    }
}

@media (min-device-width: 384px) and (max-device-height: 854px) and (orientation : portrait) {
    #banner img {
        margin-top: 60% !important
    }
}

@media (min-device-width: 411px) and (max-device-height: 915px) and (orientation : portrait) {
    #banner img {
        margin-top: 50% !important
    }

    .render-body {
        height: 100%;
        border-bottom: 2px solid #020412 !important;
    }
}

@media (min-device-width: 428px) and (max-device-height: 926px) and (orientation : portrait) {
    #banner img {
        margin-top: 70% !important
    }
}

@media (min-device-width: 810px) and (max-device-height: 1080px) and (orientation : portrait) {
    #banner img {
        margin-top: 70% !important
    }

    .text-div {
        width: 400px;
        margin-left: auto;
        margin-right: auto
    }
}

@media (min-device-width: 800px) and (max-device-height: 1280px) and (orientation : portrait) {
    #banner img {
        margin-top: 90% !important
    }

    .text-div {
        width: 400px;
        margin-left: auto;
        margin-right: auto
    }
}


@media (min-device-width: 667px) and (max-device-height: 375px) and (orientation : landscape) {

    .text-div {
        width: 400px;
        margin-left: auto;
        margin-right: auto
    }

    #banner img {
        margin-top: 5%;
        width: 230px;
    }

    #banner .btn {
        width: 200px;
        font-size: 13px
    }

    #banner p {
        font-size: 13px;
    }
}

@media (min-device-width: 1080px) and (max-device-height: 810px) and (orientation : landscape) {

    .text-div {
        width: 400px;
        margin-left: auto;
        margin-right: auto
    }

    #banner img {
        margin-top: 50% !important
    }
}

@media (min-device-width: 1024px) and (max-device-height: 1366px) and (orientation : portrait) {

    .text-div {
        width: 600px;
        margin-left: auto;
        margin-right: auto
    }


    #banner img {
        margin-top: 80%;
        width: 360px;
    }

    #banner .btn {
        width: 210px;
    }

    #banner p {
        font-size: 16px;
    }
}

@media (min-device-width: 1366px) and (max-device-height: 1024px) and (orientation : landscape) {
    #banner img {
        margin-top: 55% !important
    }
}

@media only screen and (min-device-width: 540px) and (max-device-height: 720px) and (orientation : portrait) {
    #banner img {
        margin-top: 40% !important
    }

    .render-body {
        height: 100%;
        border-bottom: 2px solid #020412 !important;
    }
}

@media only screen and (min-device-width: 720px) and (max-device-height: 540px) and (orientation : landscape) {
    #banner img {
        margin-top: 25% !important
    }

    .text-div {
        width: 400px;
        margin-left: auto;
        margin-right: auto
    }

    #banner img {
        margin-top: 30%;
        width: 200px;
    }

    #banner .btn {
        width: 200px;
        font-size: 13px
    }

    #banner p {
        font-size: 13px;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) {
    #banner img {
        margin-top: 40% !important
    }

    .render-body {
        height: 100%;
        border-bottom: 2px solid #020412 !important;
    }
}

@media only screen and (min-device-width: 568px) and (max-device-height:320px) and (orientation : landscape) {
    #banner img {
        margin-top: 5% !important
    }

    .text-div {
        width: 400px;
        margin-left: auto;
        margin-right: auto
    }

    #banner img {
        margin-top: 30%;
        width: 200px;
    }

    #banner .btn {
        width: 200px;
        font-size: 13px
    }

    #banner p {
        font-size: 13px;
    }
}

@media only screen and (min-device-width: 640px) and (max-device-height:360px) and (orientation : landscape) {
    #banner img {
        margin-top: 5% !important
    }

    .text-div {
        width: 400px;
        margin-left: auto;
        margin-right: auto
    }

    #banner img {
        margin-top: 30%;
        width: 200px;
    }

    #banner .btn {
        width: 200px;
        font-size: 13px
    }

    #banner p {
        font-size: 13px;
    }
}

@media only screen and (min-device-width: 731px) and (max-device-height:414px) and (orientation : landscape) {
    #banner img {
        margin-top: 10% !important
    }

    .text-div {
        width: 400px;
        margin-left: auto;
        margin-right: auto
    }

    #banner img {
        margin-top: 30%;
        width: 200px;
    }

    #banner .btn {
        width: 200px;
        font-size: 13px
    }

    #banner p {
        font-size: 13px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-height:600px) and (orientation : landscape) {
    #banner img {
        margin-top: 40% !important
    }
}

@media (min-device-width: 768px) and (max-device-height: 1024px) and (orientation : portrait) {
    #banner img {
        margin-top: 50% !important
    }

    .text-div {
        width: 400px;
        margin-left: auto;
        margin-right: auto
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-height:768px) and (orientation : landscape) {
    #banner img {
        margin-top: 50% !important
    }
}
