/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #020412;
}

/*-------------Navbar css------------*/
.navbar {
    background-color: #020412 !important;
    border-bottom: none !important;
}

.nav-item a {
    color: white !important;
    font-size: 15px;
    font-weight: 500
}

.fa-home {
    font-size: 20px;
    color: #8c52ff;
}

.nav-item .span-home {
    color: white !important;
}

.navbar-brand span {
    color: white !important;
    font-size: 15px;
    margin-left: 5px;
    font-weight: 500;
}

/*----------footer css------------*/
.footer {
    background-color: #020412 !important;
    border-bottom: none !important;
}

.footer {
    border-top: none !important;
    font-size: 12px;
    color: white !important;
}

.footer span {
    color: #8c52ff !important;
}


/*----------main RenderBody---------*/
.render-body {
  border-bottom: 2px solid #020412 !important;
}


/*-------Index page css --------*/

.banner, .content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    min-height: 100vh;
}

.content-div {
    width: 100vmin;
    height: 100vmin;
}

.banner img {
    width: 100%;
    max-width: 230px;
    height: auto;
}

.text-div {
    text-align: center;
    max-width: 400px
}

.banner p {
    font-size: 13px;
    margin-top: 10px;
    color: white !important;
    margin: 15px;
}

.banner .btn {
    background-color: #8c52ff;
    width: 210px;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.banner .btn:hover {
    background-color: transparent;
    border: 1px solid white;
    color: #8c52ff;
}

.fa-sign-in-alt {
    background-color: transparent !important;
    color: white;
    font-size: 14px
}


/*----------------Login page css-------------*/

.login-section, .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}

.login-section {
    min-height: 100vh;
}

.form-container {
    width: 100vmin;
    height: 100vmin;
}

.img-thumbnail {
    background-color: transparent;
    border: none;
}

.logo-img {
    max-width: 200px;
    height: auto;
}

.login-section p {
    font-size: 15px;
    color: white;
    margin-top: 10px;
    color: #8c52ff;
    font-weight: 600;
    text-align: center
}

.login-section button {
    background-color: #8c52ff;
    width: 150px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-top: 8px;
}

.login-section button:hover {
    background-color: transparent;
    border: 1px solid white;
    color: #8c52ff;
}

.form-div {
    width: 300px !important;
    min-width: 200px !important
}

@media only screen and (min-device-width : 100px) and (max-device-width : 310px) {
    .form-div {
        width: 250px !important;
    }
}

/*----------------AccessDenied page css-------------*/

.section-denied {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}

.div-denied {
    margin: 0 auto;
    max-width: 400px;
    padding-top: 14%;
    margin-bottom: 10%
}