@model UserRolesVM

@{
    ViewData["Title"] = "CreateUserRole";
    Layout = "_AdminLayout";
}

<link href="~/css/templateModification.css" rel="stylesheet" />


<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="card mt-2">
                <div class="card-header">
                    <h3 class="card-title">Add New Role</h3>
                </div>

                <form method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <label asp-for="RoleName"></label>
                            <input asp-for="RoleName" class="form-control" placeholder="Enter Role" />
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
