@model UserRolesVM

@{
    ViewData["Title"] = "CreateUserRole";
    Layout = "_AdminLayout";
}

<link href="~/css/templateModification.css" rel="stylesheet" />


<div class="container-fluid">
    <p class="pt-3 mb-1 ml-1 d-flex pagetitle-single"> <br /> <span><i class="fas fa-user-shield"></i> &nbsp Manage Roles</span> </p>

    <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h3 class="card-title">Add New Role</h3>
                </div>

                <form method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <label asp-for="RoleName"></label>
                            <input asp-for="RoleName" class="form-control" placeholder="Enter Role" />
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h3 class="card-title">All Created Roles</h3>
                </div>

                <div class="card-body">
                    <table id="table1" class="table table-bordered table-striped">


                        <thead>
                            <tr>
                                <th>Role</th>
                                <th></th>
                            </tr>
                        </thead>

                        @if (Model.IdentityRole.Any())
                        {


                            <tbody>

                                @foreach (var role in Model.IdentityRole)
                                {

                                    <tr>
                                        <td>@role.Name </td>
                                        <td>
                                            <form method="post" asp-controller="Roles" asp-action="DeleteRole" asp-route-Id="@role.Id">
                                                <a asp-controller="Roles" asp-action="EditUserRole" asp-route-Id="@role.Id"><i class="btn btn-sm fas fa-edit table-fa"></i></a>
                                                <button class="btn btn-sm fa fa-trash-o table-fa" type="submit" onclick="return confirm('Are you sure you want to delete role: @role.Name')"></button>
                                            </form>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        }
                        else
                        {
                            <tr><td colspan="2">Currently No Information Found !! </td></tr>
                        }
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
