@model EditRoleVM

@{
    ViewData["Title"] = "EditUserRole";
    Layout = "_AdminLayout";
}

<link href="~/css/templateModification.css" rel="stylesheet" />


<div class="container-fluid">
   
    <div class="d-flex">
        <div class="btn-group mt-3 " style="justify-content: flex-start">
            <p class="pt-2 mb-1 ml-1 d-flex pagetitle-double"> <br /> <span><i class="fas fa-user-shield"></i>&nbsp @Model.RoleName </span> </p>
            <a asp-controller="Roles" asp-action="CreateUserRole" type="button" class="btn btn-default" style="color: blueviolet; font-weight: 600;">Back</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h3 class="card-title">Edit Role</h3>
                </div>

                <form method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <label asp-for="RoleName"></label>
                            <input asp-for="RoleName" class="form-control" placeholder="Enter Role" />
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="card-footer" id="double-buttons">
                        <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                        <a asp-controller="Roles" asp-action="CreateUserRole" class="btn btn-Cancel">Cancel</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h3 class="card-title">All Assigned users to this role</h3>
                </div>

                <div class="card-body">
                    <table id="table1" class="table table-bordered table-striped">

                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Account Type</th>
                            </tr>
                        </thead>

                        @if (Model.UsersInRoleList.Any())
                        {

                            <tbody>

                                @foreach (var user in Model.UsersInRoleList)
                                {

                                    <tr>
                                        <td>@user.FullName </td>
                                        <td>@user.AccountType </td>
                                    </tr>
                                }

                            </tbody>
                        }
                        else
                        {
                            <tr><td colspan="2">Currently there are no assigned users to this role !! </td></tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

