@{
    ViewData["Title"] = "Home Page";
}

<section id="banner">
    <div class="img-div">
        <img src="~/Images/DataLab-Logo2.png" style="" class="img-responsive" />
    </div>
    <div class="text-div">
        <p>We manage and process the environmental collected data by making it visually interactable readable, and accessible.</p>
    </div>
    <a class="btn btn-group-lg" asp-area="" asp-controller="" asp-action=""> login <i class="fas fa-sign-in-alt"></i></a>
</section>